 <%= form_for @interview, :html=> {:id => 'interview_form'} do |f| %>
  <h4>Interview Title</h4>
   <%= f.text_field :title, :name =>"interview[title]", :id =>"interview_title", :placeholder =>"Interview title ..." %>
  <h4>Start date</h4>
    <%= f.text_field :start_date, :name =>"interview[start_date]", :placeholder =>"stage date..." %>
    <span style="font-style: italic">(optional)</span>
  <h4>Due date</h4>
  <%= f.text_field :due_date,:name =>"interview[due_date]", :placeholder =>"due date ..." %> 
    <span style="font-style: italic">(optional)</span>
  <h4>Time Test</h4>
   <%= f.text_field :time_test, :name =>"interview[time_test]", :id => "time_test", :placeholder =>"Time test ..." %>
  <hr />
   <input type="button" value="submit" class="btn btn-primary" id="submit_new_interview"/>  
<% end %>